<h2>Create Advertisement</h2>

<form method="post" enctype="multipart/form-data">
    <label>Car model</label>
    <input type="text" name="carModel" />
    <label>Price</label>
    <input type="number" name="price" />
    <label>Upload file</label>
    <input type="file" name="photoUpload" />
    <input type="submit" value="Upload" />
</form>
