@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Advertisement>

<h2>Advertisements</h2>

<div>
    @{
        foreach (var item in Model)
        {
            <div>
                <img src="@item.PhotoUrl">
                <div class="card-body">
                    <h4>@item.CarModel</h4>
                    <h5>@item.Price</h5>
                </div>
            </div>
        }
    }

</div>
